extends layout

block content
  h1= title
  .messages
    each msg in messages
      .message
        h2= msg.user
        p= msg.text
        small= msg.added
    else
      p There are no messages yet...
  a(href="/new") New Message
