body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

form {
  display: grid;
  justify-content: start;
  gap: 8px;
}

label {
  display: grid;
}