body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  display: inline-block;
  padding: 8px;
  border-radius: 16px;
  background-color: black;
  color: #00b7ff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #333;
}

form {
  display: grid;
  justify-content: start;
  gap: 8px;
}

label {
  display: grid;
}